bin/
obj/
out/

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

.idea/
*.sln.iml

.vscode/

*.log

*.tmp
*.temp

.DS_Store
Thumbs.db

packages/
*.nupkg
*.snupkg

project.lock.json
project.fragment.lock.json
artifacts/

publish/

*.mdf
*.ldf

appsettings.Development.json
appsettings.*.local.json

*.Publish.xml
*.azurePubxml

TestResults/
*.trx
*.coverage

_ReSharper*/
*.DotSettings.user

*.cache
*.pid
